.center{
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    height: 100vh; /* Hauteur de l'écran */
}

.feuRouge{
    padding: 0.5rem ;
    justify-content: center;
    border-radius: 70px;
    background-color: grey;
    display: inline-block;
}

.color-div {
    width: 150px;
    height: 150px;
    margin: 4px;
    border: 2px solid black;
    border-radius: 40rem;
}